<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>
<body>
    <h1><%= data.contentTitle %></h1>
    <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Surname</th>
            <th scope="col">Email</th>
          </tr>
        </thead>
        <tbody>
            <% dataAnc.forEach((element,index) => { %> 
          <tr>
            <th scope="row"><%= index %></th>
            <td><%= element.name %></td>
            <td><%= element.surname %></td>
            <td><%= element.email %></td>
          </tr>
          <% }) %>
        </tbody>
      </table>
</body>
</html>