<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>
<body>
    <%- include('../partials/navbar') %>
    
    <!-- card.ejs -->
    <div style="overflow: auto;">
        <% data.forEach((element,index) => { %>
        <div class="card" style="width: 18rem; margin-top: 10px;margin-left: 10px; float: left;">
          <img src="<%= element.image %>" class="card-img-top" alt="Photo">
          <div class="card-body">
            <h5 class="card-title"><%= element.title %></h5>
            <p class="card-text"><%= element.explain %></p>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Price: <%= element.price %></li>
              <li class="list-group-item">City: <%= element.city %></li>
            </ul>
            <a href="/user/list/advert/<%= element.id %>" class="btn btn-primary">İncele</a>
          </div>
        </div>
        <% }) %>
      </div>
      
</body>